@import "../../responsive.scss";
.homePage{
    display: flex;
    height: 100%;
    
    .textContainer{
        flex: 3;
    }
    .padding{
        margin-bottom: 20px;
    }

    .imgContainer{
        flex:2;
        background-color: #d2f3f3;
        position: relative;
        display: flex;
        align-items: center;

        @include tabletScreen{
            display: none;
        }


        img{
            width: 80%;
            position: absolute;
            right: 0;
        }
    }
}